# Early Heart Disease Prediction Detection Using Machine Learning Algorithms

## Data Preparation

In [33]:
# importing all the necessary libraries and classes
import pandas as edhd_pd
import matplotlib.pyplot as edhd_plot
import missingno as edhd_msno
import seaborn as edhd_sns
import warnings
warnings.filterwarnings('ignore')

In [35]:
# loading ckd dataset

edhd_DataFrame= edhd_pd.read_csv('EDHD_initial_dataset.csv')
edhd_DataFrame

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [38]:
# Converting the categorical column values
edhd_DataFrame['sex'] = edhd_DataFrame['sex'].replace({0: 'female', 1: 'male'})
edhd_DataFrame['cp'] = edhd_DataFrame['cp'].replace({0: 'typical angina', 1: 'atypical angina', 2: 'non-anginal pain', 3: 'asymptomatic'})
edhd_DataFrame['restecg'] = edhd_DataFrame['restecg'].replace({0: 'normal', 1: 'abnormality',3:'positive'})
edhd_DataFrame['fbs'] = edhd_DataFrame['fbs'].replace({0: 'Yes', 1: 'No'})
edhd_DataFrame

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,male,asymptomatic,145,233,No,normal,150,0,2.3,0,0,1,1
1,37,male,non-anginal pain,130,250,Yes,abnormality,187,0,3.5,0,0,2,1
2,41,female,atypical angina,130,204,Yes,normal,172,0,1.4,2,0,2,1
3,56,male,atypical angina,120,236,Yes,abnormality,178,0,0.8,2,0,2,1
4,57,female,typical angina,120,354,Yes,abnormality,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,typical angina,140,241,Yes,abnormality,123,1,0.2,1,0,3,0
299,45,male,asymptomatic,110,264,Yes,abnormality,132,0,1.2,1,0,3,0
300,68,male,typical angina,144,193,No,abnormality,141,0,3.4,1,2,3,0
301,57,male,typical angina,130,131,Yes,abnormality,115,1,1.2,1,1,3,0
302,57,female,atypical angina,130,236,Yes,normal,174,0,0.0,1,1,2,0

In [39]:
edhd_DataFrame.to_csv('EDHD_initial_dataset1.csv', index=False)